.logo {
    width: 25px;
    height: 25px;
}

#divnav {
    margin-top : 1%;
    width: 100%;
    background-color:rgb(115, 101, 202);
}

.slimgs {
    width: 90%;
    height: 800px;
}

.card img{
    height: 250px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.card {
    border: 2px solid black;
    border-radius: 1rem;
    height: calc(100% - 10px);
}

#la-canzone-nostra {
    width: 100%;
}